:root {
  --primary-color: #536dfe;
  --light-grey: rgba(0, 0, 0, 0.2);
  --avatar-size: 128px;

  --select-avatar-size: 64px;

  --gradient-background: linear-gradient(to right, #576574, #f1f2f6);
  --box-shadow: 0px 0px 10px 1px #888;

  --page-color: #5743ff;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color, #eaebed);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  --background-color: #ffffff;
  --foreground-color: #536dfe;
  --foreground-color-pressed: #2a3780;
}

.field {
  border: none;
  outline: none;
  text-align: inherit;
}

.profile .name {
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile .about {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.64);
  line-height: 18px;
  width: 450px;
  min-height: 80px;
}

.field[contenteditable="true"]:empty::before {
  display: inline;
  content: attr(placeholder);
  opacity: 0.8;
}

a {
  color: rgba(0, 0, 0, 0.64);
  text-decoration: none;
}

img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

a:not(.button):hover {
  color: var(--foreground-color, #536dfe);
}

.button {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;

  background-color: var(--foreground-color, #536dfe);
  border-radius: 24px;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  align-self: center;
}

.button:focus,
.button:active {
  background-color: var(--foreground-color-pressed, #2a3780);
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

article {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.index .card {
  display: flex;
  height: var(--select-avatar-size);
  line-height: var(--select-avatar-size);
  cursor: pointer;
  margin: 5px;
}

.index .card .avatar {
  height: var(--select-avatar-size);
  width: var(--select-avatar-size);
  border-radius: var(--select-avatar-size);
  position: relative;
  overflow: hidden;
}

.index .card:hover .avatar::before {
  background-color: var(--primary-color);
}

.index .card .label {
  padding: 0 10px;
  font-size: 1.2em;
}

.avatar {
  background-size: cover;
  border: none;
  color: white;

  display: inline-block;
  padding: 0;
  object-fit: cover;
}

.avatar::before {
  content: " ";
  display: inherit;
  width: inherit;
  height: inherit;
  background-color: var(--light-grey);
  mask: url(icons/fontawesome/svgs/solid/user-circle.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/fontawesome/svgs/solid/user-circle.svg) no-repeat 50%
    50%;
}

.profile .card {
  text-align: center;
}

.profile.failure .about {
  color: red;
}

.loading .avatar::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  border: 1.5px solid var(--light-grey);
  border-top-color: var(--primary-color);
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.profile .card .avatar {
  position: relative;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border-radius: var(--avatar-size);
  line-height: var(--avatar-size);
  background-size: cover;
  border: none;
  color: white;

  display: inline-block;
  overflow: hidden;
  font-size: 10em;
  justify-content: space-around;
  vertical-align: middle;
  font-family: monospace;
  padding: 0;
  object-fit: cover;

  align-self: center;
}

.profile .card .avatar::before {
  content: " ";
  display: inherit;
  width: inherit;
  height: inherit;
  background-color: var(--light-grey);
  mask: url(icons/fontawesome/svgs/solid/user-circle.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/fontawesome/svgs/solid/user-circle.svg) no-repeat 50%
    50%;
}

.picker {
  outline: none;
}

.profile .card :focus-within .avatar,
.profile .card .avatar:hover,
.profile.dragover .card .avatar {
  background-color: var(--primary-color);
  mask: url(icons/fontawesome/svgs/solid/plus-circle.svg) no-repeat 50% 50%;
  -webkit-mask: url(icons/fontawesome/svgs/solid/plus-circle.svg) no-repeat 50%
    50%;
}

.profile .card .avatar-upload {
  display: none;
}

.profile .card .save.button {
  visibility: hidden;
}

.profile.edited .card .save.button {
  visibility: visible;
}

.hidden {
  display: none;
}
